<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/css/styles.css" type="text/css">
    <meta charset="UTF-8">

    <title>Burgers</title>

</head>

<body>
    {{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
    $("#button-addon2").on("click", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            burger_name: $("#b").val().trim(),

        };
        console.log(newBurger)
        // Send the POST request.
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $(".devour").on("click", function (event) {
        var id = $(this).data("id");
        console.log("****" + id)
        // Make sure to preventDefault on a submit event.
        event.preventDefault();
        // Send the POST request.
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
        }).then(
            function () {
                console.log("created burger");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
</script>